<div class="row">
  <div class="col-sm-offset-5 col-sm-3">
    <h2 align="center">Login</h2>
    <p class="text-center text-danger" ng-show="userInfo.is_default_password">
      <span class="glyphicon glyphicon-warning-sign"></span>
      Music is now secured!
    </p>

    <form>
      <div class="form-group">
        <label class="sr-only" for="inputUsername">Username</label>
        <input class="form-control" type="text" id="inputUsername" placeholder="Username" ng-model="user.username" />
      </div>

      <div class="form-group">
        <label class="sr-only" for="inputPassword">Password</label>
        <input class="form-control" type="password" id="inputPassword" placeholder="Password" ng-model="user.password" />
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.remember" /> Remember me
        </label>
      </div>

      <button type="submit" class="btn btn-primary btn-block" ng-click="login()">
        <span class="glyphicon glyphicon-ok"></span> Sign in
      </button>
    </form>

    <br/><br/>

    <p class="text-center text-danger">
      <span class="glyphicon glyphicon-warning-sign"></span>
      Don't have an account?
    </p>

    <button type="submit" class="btn btn-primary btn-block" ng-click="register()">
      <span class="glyphicon glyphicon-ok"></span> Register
    </button>
  </div>
</div>